<app-header></app-header>

  <!-- <h1 style="color: rgb(84, 105, 173);">{{title}}</h1> -->
  <!--<app-directiva></app-directiva>-->
  <!-- <app-clientes></app-clientes> -->

<!--<h1>{{title}}</h1>
<ul>
  <li>Curso: {{curso}}</li>
  <li>Profesor: {{profesor}}</li>
  <li>Estudiante: {{estudiante}}</li>
</ul>

<ol>
  <li>Curso: {{curso}}</li>
  <li>Profesor: {{profesor}}</li>
  <li>Estudiante: {{estudiante}}</li>
</ol>-->

<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>