button{
    border-radius: 25px;
	border: 3px solid #272e56;
	background-color: #272e56;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btns{
    display: flex;
    justify-content: center;
}

button.s{
    border: 3px solid #c53f3f;
    background-color: #c53f3f;
    margin-left: 1em;
}

button.s:hover{
    color: black;
    background-color: burlywood;
}